@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  background-color: rgb(206, 227, 246);
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

h2{
  font-size: 30px;
}

.title{
  font-size: 40px;
  background-color: white;
  padding: 18px;
  margin-top: 0;
  margin-bottom: 5%;
  border-bottom: 2px solid grey;
}

.userLogin{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.inputField{
  display: flex;
  flex-direction: column;
  margin:0px 4%;
}

input{
  height: 20px;
  width: 200px;
  margin-top: 10px;
}

.userData{
  display: flex;
  justify-content: center;
}



