@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  background-color: rgb(206, 227, 246);
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  font-size: 30px;
}

.title{
  font-size: 20px;
  width: 100%;
  background-color: white;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 5%;
  border-bottom: 2px solid grey;
}

.userLogin{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.inputField{
  display: flex;
  flex-direction: column;
  margin:0px 4%;
}

input{
  height: 20px;
  width: 200px;
  margin-top: 10px;
}

.userData{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  padding: 20px;
  background-color: white;
  width: 500px;
}

.modalBackgrnd{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.419);
  display: flex;
  align-items: center;
  justify-content: center;
}

.userOptions{
 width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.usersBox{
  background-color: grey;
  width: 60%;
  margin: 20px;
  border: 2px solid black;
  border-radius: 5%;
  max-height: 200px;
  overflow-y: scroll;
}


